<div class="container">
    <form [formGroup]="gestionarFacturaForm">
        <h1>Gestionar Compras</h1>
        <hr>

        <div class="row">
            <div class="col-6">
                <label for="nombreComic">Comic:</label>
                <input type="text" class="form-control" id="nombreComic" formControlName="nombreComic"
                    [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" maxlength="50">
                <div *ngIf="submitted && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido.</span>
                </div>
            </div>

            <div class="col-6">
                <label for="cantidadComic">Cantidad:</label>
                <input type="number" class="form-control" id="editorialComic" formControlName="editorial">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" id="precio" step=".01" formControlName="precio">
            </div>
          
            <div class="col-6">
                <label for="cliente">cliente:</label>
                <input type="text" class="form-control" id="cliente" formControlName="cliente">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="proveedor">Proveedor:</label>
                <input type="text" class="form-control" id="proveedor" formControlName="proveedor">
            </div>

            
        </div>     
        <br>
        <div class="row">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" (click)="crearActualizarFactura()">Crear/Editar</button>
            </div>
        </div>

        <br>
        
        <div class="row" [hidden]="listaFacturas.length === 0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Iva</th>
                            <th scope="col">Total</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <!--date:"MM/dd/yy"

                        | uppercase-->
                        <tr *ngFor="let factura of listaFacturas;let i=index;">
                            <th scope="row">{{factura.id}}</th>
                            <td>{{factura.cliente | uppercase }}</td>
                            <td>{{factura.proveedor | lowercase }}</td>
                            <td>{{factura.tipo  }}</td>
                            <td>{{factura.estado  }}</td>
                            <td>{{factura.iva | number: '.2'}}</td>
                            <td>{{factura.total }}</td>
                            <td>
                                <i class="fas fa-search 2x ml-1" [routerLink]="" title="Consultar"></i>
                                <i class="fas fa-pencil-alt 2x ml-1"  (click)="" title="Editar"></i>
                                <i class="far fa-times-circle 2x ml-1" (click)="" title="Eliminar"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>